:root:not(.light) {
    --background-color: #ffffff;
    --primary-color: #c9c9c9;
    --secondary-color: #efefef;
    --selected-color: #000000;
    --selected-font: #ffffff;
    --font-color: rgb(0, 0, 0);
    --secondary-font-color: rgb(0, 0, 0);
    --hover-background:#000000;
    --hover-color: #ffffff;
    --project-secondary-background: #f2f2f2f2;
}

:root.light {
    --background-color: #051729;
    --primary-color: #1d3b59;
    --secondary-color: #122539;
    --selected-color: #8fb6d8;
    --selected-font: #000000;
    --font-color: #ffffff;
    --secondary-font-color: #ffffff;
    --hover-background:#155a9f;
    --hover-color: #ffffff;
    --project-secondary-background: #0e2135;
}

.theme-icon {
    height: 50px;
    width: 50px;
    justify-content: center;
    margin-right: 5px;
    stroke-width: 1px;
    border: none;
    font-family: Arial;
    font-weight: 600;
    font-size: 18px;
    align-items: center;
    cursor: pointer;
    background: none;
}


.light-icon {
    filter: invert (100);
    height: 50px;
    width: 50px;
}

.theme-icon:hover {
    height: 50px;
    width: 50px;
    justify-content: center;
    margin-right: 5px;
    stroke-width: 1px;
    font-family: Arial;
    font-weight: 600;
    font-size: 18px;
}

  :root:not(.light) .theme-icon .fa-sun {
    display: none;
  }
  
  :root:not(.light) .theme-icon .fa-moon {
    display: inline-block;
    color: white;
  }
  
  :root.light .theme-icon .fa-sun {
    display: inline-block;
  }
  
  :root.light .theme-icon .fa-moon {
    display: none;
  }
  
  .sr-only {
    height: 1px;
    width: 1px;
    overflow: hidden;
  }

.body {
    display:flex;
    height: 100vh;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--background-color);
}

.nav_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 5vh;
    background-color: var(--background-color);
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
    padding-right: 20px;
    margin-bottom: 20px;
}


.nav_items {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding-left: 15px;
    padding-right: 30px;
}

.nav_button {
    height: 50px;
    width: 10%;
    justify-content: center;
    margin-right: 5px;
    background-color: var(--primary-color);
    stroke-width: 1px;
    color: var(--font-color);
    border: none;
    font-family: Arial;
    font-weight: 600;
    font-size: 18px;
}

#selected_nav_button {
    height: 50px;
    width: 10%;
    justify-content: center;
    margin-right: 5px;
    background-color: var(--selected-color);
    stroke-width: 1px;
    color: var(--selected-font);
    border: none;
    font-family: Arial;
    font-weight: 600;
    font-size: 18px;
}

.nav_button:hover {
    height: 50px;
    width: 10%;
    justify-content: center;
    margin-right: 5px;
    background-color: var(--hover-background);
    stroke-width: 1px;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-weight: 600;
    font-size: 18px;
}

a {
    color: inherit; 
    text-decoration: inherit;
  }

.hero_area {
    display: flex;
    justify-content: space-between; 
    background-color: var(--background-color);
    align-items: center;
    width: 100%;
    height: 100%;
    background-position: center;
}

.title_container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: flex-start;
    justify-content: center;
    width: 40%;
    height: 100%;

}

h1 {
    font-weight: bold;
    color: var(--font-color);
    font-size: 64px;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    font-weight: 700;
  }

p {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: var(--font-color);
}

.resume_button {
    height: 50px;
    width: auto;
    justify-content: center;
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    color: var(--font-color);
    background-color: var(--primary-color);
    font-family: Arial;
    font-weight: 600;
    font-size: 18px;
    border: none;
    border-color: var(--secondary-font-color);
}

.resume_button:hover {
    color: var(--hover-color);
    background-color: var(--hover-background);
    stroke: none;

}

.header_image_container {
    display: flex;
    flex-direction: column;
    padding: 0px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    height: 100%;
}

.header_image {
    justify-content: center;
    align-items: center;
    object-fit: contain;
    width: 500px;

}

.footer_container { 
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--background-color);
    margin-top: 100px;
}

.footer_items {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    padding-left: 15px;
    padding-right: 30px;
}
.footer_copy {
    font-size: 14px;
    color: var(--font-color);

}

.header_image {
    height: 500px;
    width: 500px;
    margin: 30px;
    object-fit: contain;
    margin-right: 10vw;
}

.skills_container {
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.skill {
    display: flex-start;
    flex-direction: column;
    width: 500px;
    color: var(--font-color);
    margin-right: 25px;
    border: black;
    border-style: none;
    text-align: center;
    background: var(--background-color);
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 25px;

}

.skill:hover {
    background-color: var(--secondary-color);
}

.skills_image {
    width: 75px;
    fill: var(--selected-color);
}

h2 {
    font-family: Arial;
    font-weight: 600;
    font-size: 26px;
}

.work_area {
    display: flex;
    flex-direction: column;
    justify-content: start; 
    background-color: var(--background-color);
    align-items: flex-start;
    width: 100%;
    height: 90vh;
    background-position: center;
}

.work_container {
    display: flex;
    flex-direction: column;
}

.project_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15px;
    border: 1px black;
    border-style: none;
    width: 90vw;
    color: var(--font-color);
    align-items: center;
    margin-top: 15px;
    padding: 15px;

}

.project_container:hover {
    background-color: var(--secondary-color);
}

.work_image {
    object-fit: contain;
    height: 300px;
    width: 50%;
    margin: 5px;
}

.project_description {
    width: 60vw;
}

.project_button {
    height: 50px;
    width: auto;
    justify-content: center;
    margin-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    color: var(--font-color);
    background-color: var(--primary-color);
    font-family: Arial;
    font-weight: 600;
    font-size: 18px;
    border: none;
    border-color: var(--secondary-font-color);
}

.project_button:hover {
    color: white;
    background-color: var(--hover-background);
}

.switch {
    position: relative;
    display: inline-block;
    align-items: center !important;
    width: 60px;
    height: 34px;
    margin-bottom: 13px;

  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    background-image: url("./Images/Light.svg");
    background-color: var(--selected-color);
    -webkit-transition: .4s;
    transition: .4s;

  }
  
  .slider:before {
    position: absolute;
    content: "";
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    fill: #87ab13;
  }
  
  input:checked + .slider {
    background-color: var(--hover-background);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(#8fb6d8);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.light-icon {
filter: invert(100);
fill-rule: inherit;
fill: green !important;
}

/*Project1 style */

.jumbotron {
    display: flex;
    background-color: var(--background-color) !important;
    color: var(--font-color);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
    grid-auto-rows: minmax(100px, auto);
    align-items: center;
    height: 60vh;
    width: 95%;
    padding: none !important;
    margin: none !important;
}

.jumbotron-fluid {
    margin: 15px;
}

.container-jumbo {
    color: var(--font-color) !important;
    grid-column: 1 / 4;
    grid-row: 1;


}

.image-right {
    object-fit: contain;
    width: 100%;
    height: 100%;
    background-color: none;
    grid-column: 4 / 7;
    grid-row: 1;
}

.image-left {
    object-fit: contain;
    width: 100%;
    height: 100%;
    background-color: none;
    grid-column: 1 / 4;
    grid-row: 1;
}

.display-4 {
    margin-bottom: .25em;
}

.section-align-left {
    display: flex;
    background-color: var(--background-color) !important;
    color: var(--font-color);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
    grid-auto-rows: minmax(100px, auto);
    align-items: center;
    height: 60vh;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 3em !important;
    padding-top: 3em !important;
    background-color: rgb(0, 0, 0, 0.1) !important;
}

.section-align-right {
    display: flex;
    background-color: var(--background-color) !important;
    color: var(--font-color);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
    grid-auto-rows: minmax(100px, auto);
    align-items: center;
    height: 60vh;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 3em !important;
    padding-top: 3em !important;

}

.copy-right {
        color: var(--font-color) !important;
        grid-column: 4 / 6;
        grid-row: 1;

}

.copy-left {
    color: var(--font-color) !important;
    grid-column: 2 / 4;
    grid-row: 1;

}

.spacing-top {
    padding-top: 100px;
}

ul {
    padding-top: 1em;
}

.project-h1 {
    font-size: 3em !important;
}

.section-title {
    font-size: 1em;
    text-transform: uppercase;
    padding-bottom: 1em;
    font-weight: 400;
    letter-spacing: .5ch;
}

.section-align-quote {
        display: flex;
        background-color: var(--background-color) !important;
        color: var(--font-color);
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 30px;
        grid-auto-rows: minmax(100px, auto);
        align-items: center;
        height: fit-content;
        min-height: 60vh;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 3em !important;
        padding-top: 3em !important;
}

.copy-center {
        color: var(--font-color) !important;
        grid-column: 2 / 6;
        grid-row: 1;
}

.quote {
    font-size: 2em;
    font-style: italic;
}

.quote-credit {
    font-size: 1em;
    font-style: italic;
}

.image-center {
    object-fit: contain;
    width: 100%;
    height: 100%;
    background-color: none;
    grid-column: 2 / 6;
    grid-row: 1;
}

#secondary-bg {
    background-color: var(--project-secondary-background) !important;
}

#center-with-image {
    grid-column: 2 / 6;
    grid-row: 2 !important;
}

#quote {
    min-height: 60vh;
    align-items: center;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
    grid-auto-rows: minmax(100px, auto);
}

.section-align-center {
    display: flex;
    background-color: var(--background-color) !important;
    color: var(--font-color);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
    grid-auto-rows: repeat(2, 1fr);
    align-items: center;
    height: fit-content;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 3em !important;
    padding-top: 3em !important;
}

.extra-space {
    background-color: var(--background-color);
    padding-top: 3em;
    width: 100%;
}

.footer_container_project { 
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--project-secondary-background);
    margin-bottom: 100px;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.nav_container_project {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 5vh;
    background-color: var(--background-color);
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
    padding-right: 20px;
    margin-bottom: 20px;
}

.body-project {
    display:flex;
    height: 100vh;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--background-color);
}

li {
    font-weight: normal;
    color: var(--font-color);
    font-size: 1em;
    margin-bottom: 0.25em;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
}